<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar class="alternate-theme" color="primary">
  <mat-toolbar-row>
    <img src="../assets/img/thisiscolombia-logo.png" class="logo-toolbar">
    <span class="example-spacer"></span>
     <mat-icon color="black" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container">
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile><h1>Welcome to my country    </h1><mat-icon style="color: #ad1d09" class="option animated infinite tada" aria-label="Example icon-button with a heart icon">favorite</mat-icon></mat-grid-tile>
  <mat-grid-tile>
    <img class="img-1 option animated bounceInRight" src="../assets/img/bailarina.png">
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
</div>